html,
body {
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Dosis", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100vh;

  /* width: 100%; */
}
.layout {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 100%;
  min-height: 100%; */
  background-color: #eaedf1;
}

/* .home {
  width: 100%;
  height: 100%;
} */
.footer {
  background-color: #eaedf1;

  color: #5f5f5f;
  width: 100%;
  display: flex;
  justify-content: center;
}
main {
  display: block;
}
.footer p {
  font-size: 12px;
}
.first-component {
  width: 100%;
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;

  display: flex;
  justify-content: center;
}

.container {
  margin: 0 6rem 0 6rem;
  max-width: 1440px;
  width: 100%;
}

/* NAVBAR PART */

.navbar-wrapper {
  width: 100%;
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top: 1px solid #5f5f5f70;
  border-bottom: 1px solid #5f5f5f70;
}

/* .navbar-logo a {
  min-width: 100%;
  min-height: 100%;
} */

.navbar,
.mobile-navbar {
  min-height: 100px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  background-color: #fff;
  /* padding: 0 1rem 0 1rem; */
  /* background-color: rgb(238, 238, 238); */
}
.navbar-links {
  width: 100%;
}

.navbar-logo,
.mobile-navbar-logo {
  min-width: 100px;
  width: auto;
  flex: 1;
}
.navbar-products {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 0;
  /* padding-left: 1rem; */
}
.navbar-links ul {
  flex: 1;

  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  list-style-type: none;
  font-size: 24px;
  font-weight: 600;
  color: #5f5f5f;
}
.navbar-links li {
  transition: 200ms ease-out;
  width: fit-content;
}
.navbar-links li:hover {
  color: #f89a20;
  transition: 200ms ease-out;
}
.navbar-search {
  position: relative;
  width: 100%;
}

.navbar-search > input {
  flex: 1;

  width: 100%;
  height: 2.3rem;
  border: 2px solid #f89a20;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

.navbar-search .search-btn {
  position: absolute;
}
.shopping-cart-btn {
  display: flex;
  gap: 0.3rem;
}

.mobile-cart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
}
.cart {
  width: 300px;
  display: flex;
  justify-content: center;
  flex: 0;
}

.mobile-navbar-logo {
  min-width: 75px;
  width: auto;
}
/* .logo-link-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.7rem;
  min-width: 100px;
}

.logo-link {
  width: 100%;
  min-width: 100%;
} */

/* .navbar-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  width: 100%;
  height: 100%;
  border-bottom: 0.2px solid #5f5f5f70;
  border-top: 0.2px solid #5f5f5f70;
  display: flex;
  justify-content: center;
} */

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1rem;
  font-size: 16px;
  width: 100%;
  max-width: 1440px;
  /* font-size: 14px; */
}

.phone-number {
  color: #5f5f5f;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  /* font-size: 16px; */
}
.phone-offer-component,
.computer-offer-component {
  /* min-height: 550px; */
  width: 100%;
  display: flex;
  gap: 1rem;
}

.phone-products,
.computer-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  border-top: 1px solid #5f5f5f80;
  /* gap: 1rem; */
  border-bottom: 1px solid #5f5f5f80;
}

.small-title {
  display: none;
}
.computer-products-1,
.computer-products-2,
.phone-products-1,
.phone-products-2 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  display: flex;
  /* height: 100%; */
  width: 100%;
  min-height: 10rem;
  /* height: 300px; */
}

.single-phone-holder,
.single-computer-holder {
  cursor: pointer;
  height: 250px;
  /* min-width: 7rem; */
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  transition: ease-in 200ms;
}

.single-phone-holder:hover,
.single-computer-holder:hover {
  scale: 1.02;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
  transition: ease-in 200ms;
}

.single-phone-garanty,
.single-computer-garanty {
  margin-top: 0.3rem;
  background-color: #f89a20;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  align-self: flex-end;
}
.single-phone-image,
.single-computer-image {
  position: relative;
}
.phone-commercial,
.computer-commercial {
  height: 550px;
  min-width: 250px;
  /* width: 200px; */
  position: relative;
  flex: 1;
}

.phone-offer-wrapper,
.computer-offer-wrapper {
  /* background-color: beige; */

  width: 100%;
}
.breadcrumb-wrapper {
  /* background-color: beige; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.6rem;
}
.breadcrumb-component {
  max-width: 1440px;
  width: 100%;
  color: #f89a20;
  font-style: italic;
  font-size: 17px;
  /* background-color: #256d85; */
  padding-left: 0.4rem;
  /* position: absolute; */
  /* border-bottom: 1px fit-content solid red; */
}
.last-breadcrumb {
  color: #5f5f5f;
}
.cart-component-wrapper {
  width: 100%;
  position: absolute;
  max-width: 1440px;
}
.single-item-wrapper {
  width: 100%;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.single-item {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.single-item-body {
  width: 100%;
}
.email {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #5f5f5f;
  /* font-size: 16px; */
}
.left-side {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  /* font-size: 15px; */
}

.right-side {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  /* font-size: 15px; */
}

.toggle {
  width: fit-content;
  margin: 0.6rem;
}

/* .cart-and-wishlist {
  display: flex;
  gap: 1.2rem;
  margin-left: 0.6rem;
}
.cart-and-wishlist > svg {
  cursor: pointer;
} */
/* .navbar-links,
.navbar-search {
  width: 100%;
  display: flex;
  justify-content: center;
} */
/* .navbar-links {
  /* justify-content: center; 
} */
/* .navbar-search {
  align-items: center;
  width: 100%;
  margin: 0.4rem;
  position: relative;
} */

/* .navbar-search > svg {
  margin: 0.4rem;
}
.navbar-search > input {
  background-color: rgb(252, 252, 252);
  border-radius: 25px;

  outline: none;
  border: 2px solid #f89a20;
  width: 100%;
  color: 5f5f5f;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
} */

::placeholder {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .upper-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #5f5f5f;
  /* font-style: italic; */
/* font-weight: 800;
  font-size: 22px; */
/* } */

/* .navbar-links > ul > li {
  cursor: pointer;
  margin: 0.4rem;
  transition: 200ms ease-in-out;
}

.navbar-links > ul > li:hover {
  transition: 200ms ease-in;
  color: #f89a20;
}
.navbar-links > ul {
  list-style: none;
  display: flex;
  /* gap: 2rem; */
/* width: 100%; */
/* justify-content: space-evenly; */
/* align-items: center; */
/* } */

.hidden {
  display: none;
}
/* 
.mobile-search-active {
  display: inline-block;
}

.mobile-search-hidden {
  display: none;
} */
.shop::after,
.information::after,
.location::after {
  content: "|";
  color: #ddd;
  display: inline-block;
  margin-left: 0.7rem;
}
.vl {
  color: #ddd;
  display: inline-block;
}
.shop:hover,
.information:hover,
.location:hover,
.rules:hover {
  color: #f89a20;
  transition: 200ms ease-in-out;
}
.shop,
.information,
.location,
.rules {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  color: #5f5f5f;
  transition: 200ms ease-in-out;
}
.number-text {
  line-break: anywhere;
}
.store,
.info,
.number {
  color: #ff731d;
  cursor: pointer;
}

.toggle-nav {
  color: #5f5f5f;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  display: none;
}

/* .navbar-search .search-btn {
  /* background-color: #fff;
  border: 2px solid #f89a20; */
/* position: absolute;
  height: 100%;
  width: 75px;
  right: 0;
  border-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f89a20;
  color: #fff;
  font-size: 21px; */
/* } */

/* .shopping-cart-btn,
.mobile-search-btn,
.nav-btn,
.wishlist-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  transition: 200ms ease-in-out;
  border: 2px solid #f89a20;
}

.shopping-cart .shopping-cart-btn {
  background-color: #fff;
}
.search-btn {
  margin: 0.3rem;
}
.mobile-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
} */

/* .navbar-search .search-btn:hover {
  background-color: #da8921;
}
.shopping-cart-btn:hover,
.mobile-search-btn:hover,
.nav-btn:hover {
  color: #f89a20;
  transition: 200ms ease-in-out;
}

.cart-and-wishlist .mobile-search {
  display: none;
} */

/* .shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
} */

.pre-footer {
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;

  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 0.2px solid #5f5f5f70;
  /* box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38); */
}
.pre-footer-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* width: 100%; */
  /* margin-top: 0.6rem;
  margin-bottom: 0.6rem; */
}
.footer-info {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* .mobile-search .mobile-search-btn {
  background-color: #fff;
}

.toggle-nav .nav-btn {
  background-color: #fff;
} */

.footer-number,
.footer-sale-email,
.footer-info-email {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.3rem;
  border: 2px solid #f89a20;
  color: #5f5f5f;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in;
}

.footer-number:hover,
.footer-sale-email:hover,
.footer-info-email:hover {
  background-color: #f89a20;
  color: #fff;
  transition: 200ms ease-in;
}
.small-text-2 {
  margin-top: 0.6rem;
  text-align: center;
  font-style: italic;
  line-height: 18px;
  color: #5f5f5f;
}
.small-text {
  /* max-width: 250px; */
  color: #5f5f5f;
  font-size: 17px;
  /* text-decoration: underline; */
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-top: 0.7rem;
  width: 100%;
}
.footer-logo > h3 {
  margin: 2rem 0 2rem 0;
}
.contact-info-header {
  font-size: 25px;
  /* margin: 2rem 0 2rem 0; */
  color: #5f5f5f;
  text-align: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  color: #256d85;
}

.single-partner {
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.amazon {
  width: 16rem;
}

/* .partners {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
/* margin-top: 0.6rem;
}
  margin-bottom: 0.6rem; */

.single-partner-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  /* margin-top: 0.6rem;
  margin-bottom: 0.6rem; */
}
.partners-heading {
  font-size: 25px;
  color: #5f5f5f;
  text-align: center;
}

.footer-information {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contact,
.partners,
.footer-info,
.media-links {
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  justify-content: space-between;
  text-align: center;
}

.footer-content > h3 {
  text-align: center;
}

.developed .developed-h {
  font-size: 8px;
}
.chakra-modal__header {
  color: #5f5f5f;
  border-bottom: 1px solid #5f5f5f70;
}
.chakra-modal__body {
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.chakra-modal__footer {
  border-top: 1px solid #5f5f5f70;
}
.menu-container {
  height: 100%;
}
.menu-home-link,
.menu-shop-link,
.menu-orders-link,
.menu-about-link,
.menu-account-link,
.menu-rules-link {
  border-bottom: 1px solid #5f5f5f70;
}
.menu-home-link > li:hover,
.menu-shop-link > li:hover,
.menu-orders-link > li:hover,
.menu-about-link > li:hover,
.menu-account-link > li:hover,
.menu-rules-link > li:hover {
  color: #f89a20;
  cursor: pointer;
}
.menu-home-link > li,
.menu-shop-link > li,
.menu-orders-link > li,
.menu-about-link > li,
.menu-account-link > li,
.menu-rules-link > li {
  padding: 1rem;
}
.menu-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.search-container {
  width: 100%;
  padding: 1rem;
}

.search-container > input {
  background-color: #fff;
  border-radius: 25px;
  outline: none;
  border: 2px solid #f89a20;
  width: 100%;
  color: 5f5f5f;
  padding-left: 0.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}
.categories-wrapper {
  /* color: #5f5f5f; */
  /* width: fit-content; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* border: 2px solid #f89a20; */
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  /* border-radius: 7px; */
  min-width: 300px;
  grid-area: cat;
  /* width: 100%; */
  /* height: 100%; */
}

.categories-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-left: 1px solid #f89a20;
  border-right: 1px solid #f89a20;
  border-bottom: 1px solid #f89a20;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.feature-wrapper {
  width: 100%;

  /* min-height: 100px; */
  /* height: 100%; */
  padding-top: 2rem;
  color: #5f5f5f;
}

.features {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.feature {
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-radius: 10px;
  /* padding: 0.5rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}

.feature-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.6rem;
}
.feature-body {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-product-container,
.second-product-container,
.third-product-container,
.fourth-product-container,
.fifth-product-container {
  width: 100%;
  height: 100px;
  border: 1px solid #f89a20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}

.loading-screen > h3 {
  color: #4cbb17;
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
}

.article-wrapper {
  /* grid-area: article; */
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  height: 100%;
  /* min-width: 100%; */

  border: 1px solid #f89a20;
}

.carousel {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: transparent;
  position: relative;
}
.home-wrapper {
  margin: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaedf1;
  padding-bottom: 2rem;
}

.login-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.login-component > form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
}
.login-header,
.register-header {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  text-align: center;
}

.header-image {
  display: flex;
  justify-content: center;
}
.rules-component-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.register-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaedf1;
  padding-bottom: 2rem;
}

.register-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-component > form {
  margin-top: 2rem;
  max-width: 900px;

  /* box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%); */
  padding: 1rem;
  border-radius: 5px;

  width: 100%;
}

.register-grid {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9rem;
}

.register-buttons {
  padding-top: 1.5rem;
  display: flex;
  gap: 1rem;
}
.orders-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-component {
  max-width: 1440px;
  width: 100%;
}
.orders-tabs {
  margin-top: 2rem;
}

.order-submit {
  width: 100%;
}
.order-form > form,
.query-form > form {
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* grid-template-areas:
        'name detail-desc'
        'email detail-desc'
        'short-desc detail-desc'
        'address detail-desc'
        'number number'
        'button button'; */
}
.instruction-wrapper,
.usage-wrapper,
.our-story-wrapper,
.logout-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-header,
.usage-header,
.our-story-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-size: 25px; */

  color: #f89a20;
  font-style: italic;
}
.instruction-body,
.usage-body,
.our-story-body {
  width: 100%;
}
.instruction-body ul,
.usage-body ul,
.our-story-body ul {
  gap: 0.8rem;
  display: flex;

  list-style-type: none;
  flex-direction: column;

  align-items: center;
  /* margin-left: 2rem; */
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.instruction-body ul > li,
.usage-body ul > li,
.our-story-body ul > li {
  font-style: italic;
  text-decoration: underline;
  color: #5f5f5f;
  width: 100%;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
}
.categories-menu-wrapper {
  position: absolute;
  left: 18.64rem;
  /* border-left: 0.5px solid black; */
  top: 3.5rem;
  z-index: 10;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /* border-radius: 3px; */
  display: none;
  background-color: #fff;
  /* height: 100%; */
  width: 500px;
  border-top: 2px solid #f89a20;
  border-bottom: 2px solid #f89a20;
  border-right: 2px solid #f89a20;
  height: 25.5rem;
  color: #5f5f5f;
}
.categories-menu {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.single-subcategory > h3 {
  font-size: 21px;
  color: #f89a20;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.value {
  font-size: 17px;
}
.value:hover {
  text-decoration: underline;
  cursor: pointer;
}
.single-category > li {
  border-bottom: 1px solid #5f5f5f70;
}

.single-subcategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.quick-menu-wrapper {
  width: 100%;
  height: 100%;
  color: #5f5f5f;
}

.quick-menu {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.4rem;
  /* align-items: center; */
}
.single-menu:hover {
  transition: 200ms ease-in;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.single-menu {
  transition: 200ms ease-in;
  box-sizing: border-box;
  padding: 0.3rem;
  max-width: 24%;
  width: 100%;
  margin: 0.1rem;

  /* height: 25%; */
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-text {
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.single-subcategory > ul {
  list-style-type: none;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.categories-header {
  padding: 0.7rem;
  font-size: 24px;
  background-color: #f89a20;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* .categories-list ul {
  list-style-type: none;
  width: 100%;
}
.popover-wrapper {
  width: 100%;
} */
.spons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
  position: relative;
}
.big-wrapper {
  flex-direction: column;

  width: 100%;
  display: flex;
  gap: 1rem;
}
.single-category {
  width: 100%;

  /* font-size: 21px; */
  border-bottom: 1px solid #5f5f5f70;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 200ms ease-in;
}

.single-category:last-child {
  border-bottom: none;
  /* border-radius: 5px; */
}

.single-category:hover {
  background-color: #ddd;
  transition: 200ms ease-in;
}
.link-box {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-categories {
  position: absolute;
  right: -7.5rem;
  z-index: 5;
  background-color: #4cbb17;
  height: 500px;
}

.link-overlay {
  display: flex;
  justify-content: space-between;
}
.action-link {
  padding: 0.7rem;
  border-top: 1px solid #5f5f5f70;
  background-color: #f89a20;
  color: #fff;
  cursor: pointer;
  transition: 200ms ease;
  text-align: center;
  /* border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; */
}
.action-link > a {
  width: 100%;
}
.action-link:hover {
  background-color: tomato;
  transition: 200ms ease;
}

.categories-list {
  position: relative;
  z-index: 5;
}
.categories-list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.categories-list ul > li {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #5f5f5f;
  position: relative;
}

.categories-list > ul > li > a {
  width: 100%;
  font-size: 25px;
}
.account-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-mobile-sidebar-wrapper {
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  display: none;
  position: absolute;
  width: 100%;
  top: 1rem;
}
.account-layout-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.account-showbase-body-avatar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.account-showcase-avatar-holder {
  overflow: hidden;
  border-radius: 100px;
}
.account-showcase-wrapper {
  width: 100%;
  height: 100%;
}

.account-showcase-container {
  width: 100%;
  height: 100%;
}

.account-showcase-header-title {
  display: flex;

  align-items: center;
  gap: 0.5rem;
}

.account-showcase-body {
  padding-top: 2rem;
  display: flex;
}

.account-showcase-body-info {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  text-align: start;
}
.account-showcase-body-image {
  width: 50%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.account-sidebar-wrapper {
  max-width: 200px;
  width: 100%;
  height: 100%;
}
.account-mobile-sidebar-information {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.account-sidebar-link:hover {
  text-decoration: underline;
}
.account-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account-showcase-body-single {
  width: 100%;
}

.logout-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-component {
  max-width: 1440px;
  width: 100%;
}
.account-body {
  margin-top: 2rem;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  gap: 1rem;
}

.account-body-no-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.single-account-item {
  width: 100%;
  /*height: 250px; */
}
.account-body-info {
  padding: 0.6rem;

  flex: 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  /* flex-wrap: wrap; */
}

.account-body-features > button {
  width: 100%;
}
.account-body-features {
  background-color: #5f5f5f;
  flex: 1;
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem;
  align-items: center;
}

.shop-layout-wrapper {
  width: 1440px;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.shop-layout-filter-wrapper {
  width: 100%;
}
.shop-sidebar-wrapper {
  max-width: 300px;
  width: 100%;

  padding: 0.5rem;
}

.shop-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.shop-single-menu-header {
  cursor: pointer;
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  /* border: 0.5px solid #5f5f5f; */
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.shop-single-menu-body {
  padding: 1rem;
  width: 100%;
}

.shop-menu-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: #5f5f5f;
}

.shop-menu-link:hover {
  text-decoration: underline;
}
.price-range {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shop-category-wrapper {
  width: 100%;
  height: 100%;

  padding: 0.5rem;
}

.shop-category-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shop-category-header {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.shop-category-body {
}
.shop-category-header-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  /* width: 100%; */
}
.shop-category-header-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 300px; */
  /* width: 100%; */
}
.shop-category-header-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* width: 100%; */
}
.shop-category-header-count-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  /* width: 100%; */
}

.shop-category-header-view-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.shop-category-header-view-option-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #f89a20;
  border-radius: 15px;
}
/* 
.shop-component-wrapper {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
} */
/* 
.shop-component {
  max-width: 1440px;
  width: 100%;
  background-color: beige;
} */
.homepage,
.rules-page,
.our-story-page,
.account-info-page,
.account-orders-page,
.orders-page,
.login-page,
.shop-page,
.logout-page,
.category-page {
  background-color: #eaedf1;
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 1rem; */
}
.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.laptop {
  display: none;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .right-side {
    font-size: 15px;
  }
  .left-side {
    font-size: 15px;
  }
  /* .navbar-links {
    font-size: 19px;
  } */
  .home-wrapper {
    margin: 2rem;
  }
}
/*Laptops/Monitors in range of 900px - 1200px */
@media (min-width: 1024px) and (max-width: 2000px) {
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }

  .account-showcase-body {
    padding: 1rem;
  }
  .home-wrapper {
    margin: 2rem;
  }

  .footer-information .footer-info {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }

  .account-showcase-body {
    padding: 1rem;
  }
  .single-menu {
    max-width: 23.5%;
    width: 100%;
  }
  .single-phone-holder,
  .single-computer-holder {
    width: 100%;
  }

  .navbar-search {
    display: none;
  }
  .cart {
    gap: 1.2rem;
  }
  .laptop {
    display: flex;
  }

  .navbar-links ul {
    font-size: 18px;
  }

  .navbar-search input {
    height: 1.5rem;
  }

  .search-btn {
    height: 1.5rem;
  }

  /* .feature {
    height: 100%;
  } */
  .info-line {
    display: none;
  }
  /* .cart-and-wishlist .mobile-search {
    display: block;
  }
  .navbar-search {
    display: none;
  }

  .logo-link-div {
    min-width: 100px;
    width: 100px;
  } */
  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
  }
  .small-text {
    font-size: 16px;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
  }

  .single-partner {
    width: 18rem;
  }

  .amazon {
    width: 14rem;
  }
  .home-wrapper {
    margin: 2rem;
  }
}

/*Laptops/Phones/Tables in range of 720px to 900px*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }
  .account-showcase-body {
    padding: 1rem;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .quick-menu {
    display: flex;
    /* flex-direction: column; */
    max-width: 100%;
  }
  .single-phone-holder,
  .single-computer-holder {
    width: 50%;
  }
  .small-title {
    display: inline-block;
  }

  .phone-commercial,
  .computer-commercial {
    display: none;
  }

  .phone-offer-component,
  .computer-offer-component {
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  .laptop {
    display: flex;
  }
  .instruction-body ul,
  .usage-body ul,
  .our-story-body ul {
    /* flex-wrap: wrap; */

    flex-direction: column;

    align-items: center;
  }
  .container {
    margin: 0 2rem 0 2rem;
  }
  /* .feature-wrapper {
    height: 100px;
    width: 100%;
    position: relative;
    font-size: 15px;
    display: flex;
  } */

  /* .feature {
    min-height: 100%;
    width: 100%;
    position: relative;
  }
  .features {
    height: 100%;
    min-width: 100%;
  } */
  .navbar-search {
    display: none;
  }

  .navbar-links ul {
    font-size: 16px;
  }
  .cart {
    gap: 1rem;
  }
  /* .mobile {
    display: flex;
  } */
  /* .desktop {
    display: flex;
  } */
  .info-line {
    display: none;
  }
  /* .cart-and-wishlist {
    display: flex;
    gap: 0.4rem;
    margin-left: 0.4rem;
  }
  .navbar-links > ul > li {
    margin: 0;
  }
  .logo-link-div {
    min-width: 120px;
    /* margin: 0.4rem; */
  /* width: 120px;
  }
  .upper-part {
    font-size: 18px;
    margin: 0 0.4rem 0 0.4rem;
  } */
  /* .cart-and-wishlist .mobile-search {
    display: block;
  }
  .navbar-search {
    display: none;
  }
  .svg {
    font-size: 18px;
  } */

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
  }
  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem;
  }
  .single-partner {
    width: 16rem;
  }

  .categories-wrapper {
    width: 100%;
  }
  .amazon {
    width: 12rem;
  }

  .article-wrapper {
    display: flex;
  }
  .categories-menu-wrapper {
    display: none;
  }

  .spons-container {
    flex-direction: column;
  }
  .home-wrapper {
    margin: 2rem;
  }
}
/*Bigger phone and tablet/smaller laptop screens*/
@media (min-width: 500px) and (max-width: 768px) {
  .account-showcase-body {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .account-showcase-wrapper {
    padding: 1rem;
  }
  .account-layout-wrapper {
    padding-top: 4rem;
  }
  .account-showcase-body-image {
    width: 100%;
  }
  .account-showcase-body-info {
    width: 100%;
  }
  .account-sidebar-wrapper {
    /* padding-left: 1rem; */
    display: none;
  }

  .account-mobile-sidebar-wrapper {
    display: block;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .quick-menu {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .single-menu {
    max-width: 100%;
  }
  .register-submit {
    width: 100%;
  }
  .register-grid {
    /* grid-template-areas:
            'regname regemail'
            'regaddress regphn'
            'regcity regstreet'
            'regcpw regpw'
            'regpn egsubmit'; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account-body-info {
    display: flex;
    flex-direction: column;
  }
  .account-body {
    flex-direction: column;
  }
  .small-title {
    display: inline-block;
  }
  .phone-commercial,
  .computer-commercial {
    display: none;
  }
  .phone-products-1,
  .phone-products-2,
  .computer-products-1,
  .computer-products-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 0.4rem;
  }
  .single-phone-holder,
  .single-computer-holder {
    width: 100%;
  }
  .arrow {
    display: none;
  }
  /* .categories-menu-wrapper {
    display: none;
  } */
  .instruction-body ul,
  .usage-body ul,
  .our-story-body ul {
    /* flex-wrap: wrap; */

    flex-direction: column;

    align-items: center;
  }

  .container {
    margin: 0 0.3rem 0 0.3rem;
  }
  .carousel {
    min-height: 300px;
  }
  /* .feature {
    height: 100%;
    width: fit-content;
  }
  .features {
    width: 100%;
    height: 100%;
    /* overflow-x: scroll; */
  /*overflow-y: hidden;
  } */
  .mobile {
    display: flex;
    overflow-x: none;
  }
  .desktop {
    display: none;
  }
  /* .feature-wrapper {
    font-size: 12px;
    overflow-x: auto;
    height: 100px;
    width: 100%;
  } */

  .spons-container {
    flex-direction: column;
  }

  .categories-wrapper {
    min-width: 100%;
  }
  .info-line {
    display: none;
  }

  /* .logo-link-div {
    min-width: 90px;
    width: 90px;
  }
  .toggle-nav {
    display: block;
  }
  .upper-part {
    margin: 0 0.4rem 0 0.4rem;
    justify-content: space-between;
  }
  .navbar-links {
    display: none;
  }
  .navbar-search {
    display: none;
  }
  .cart-and-wishlist .mobile-search {
    display: block;
  }

  svg {
    font-size: 19px;
  } */

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
    margin-top: 1rem;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
    margin-top: 1rem;
  }
  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
  }

  .pre-footer-child {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-partner {
    width: 16rem;
  }

  .amazon {
    width: 12rem;
  }
  .home-wrapper {
    margin: 2rem;
  }
}
/*small screens*/
@media (min-width: 0px) and (max-width: 499px) {
  .account-layout-wrapper {
    padding-top: 4rem;
  }
  .account-showcase-header-title {
    /* flex-direction: column; */
    align-items: flex-start;
    /* padding: 0.5rem; */
  }

  .account-showcase-body {
    flex-direction: column;
    padding-right: 0.5rem;
    gap: 2rem;
  }
  .account-showcase-body-info {
    display: flex;
    flex-direction: column;
  }

  .account-showcase-wrapper {
    padding: 1rem;
  }
  .account-sidebar-wrapper {
    /* padding-left: 0.5rem; */
    display: none;
  }

  .account-showcase-body-image {
    width: 100%;
  }
  .account-mobile-sidebar-wrapper {
    display: block;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .home-wrapper {
    margin: 2rem;
  }

  .quick-menu {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .single-menu {
    max-width: 100%;
  }
  .register-grid {
    /* grid-template-areas:
            'regname regemail'
            'regaddress regphn'
            'regcity regstreet'
            'regcpw regpw'
            'regpn egsubmit'; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-submit {
    width: 100%;
  }
  .account-body-info {
    display: flex;
    flex-direction: column;
  }

  .account-body {
    flex-direction: column;
  }
  .small-title {
    display: inline-block;
  }
  .phone-commercial,
  .computer-commercial {
    display: none;
  }
  .phone-products-1,
  .phone-products-2,
  .computer-products-1,
  .computer-products-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;*/
    gap: 0.6rem;
  }
  .single-phone-holder,
  .single-computer-holder {
    width: 100%;
    /* background-color: rgb(199, 199, 199); */
  }
  .phone-products {
    display: flex;
  }
  .mobile-cart {
    width: 100%;
    display: flex;

    justify-content: flex-end;
    gap: 0.4rem;
  }

  /* .mobile-auth .mobile-auth-btn > svg,
  .mobile-toggle-nav .nav-btn > svg,
  .mobile-search .mobile-search-btn > svg,
  .mobile-cart .mobile-cart-btn > svg {
    font-size: 5px;
  } */

  .instruction-body ul,
  .usage-body ul,
  .our-story-body ul {
    /* flex-wrap: wrap; */

    flex-direction: column;

    align-items: center;
  }
  .container {
    margin: 0.3rem;
  }

  .mobile {
    display: flex;
    overflow-x: none;
  }
  .desktop {
    display: none;
  }
  /* .feature-wrapper {
    font-size: 12px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
  /*height: 100px;
    word-wrap: normal;
  }*/

  /*
  .features {
  }
  .feature {
  } */
  .spons-container {
    flex-direction: column;
  }
  .categories-wrapper {
    min-width: 100%;
  }
  /* .cart-and-wishlist {
    display: flex;
    width: 100%;

    /* align-items: center;
    justify-content: space-evenly; */
  .info-line {
    display: none;
  }
  /* .logo-link-div {
    min-width: 80px;
    width: 80px;
  }
  .toggle-nav {
    display: block;
  } */
  /* .upper-part {
    margin: 0 0.4rem 0 0.4rem;
    justify-content: space-around;
  }
  .navbar-links {
    display: none;
  }
  .shopping-cart-btn > p {
    font-size: 10px;
  } */
  /* .navbar-search {
    display: none;
  }
  .cart-and-wishlist .hidden {
    display: block;
  } */
  /* 
  .cart-and-wishlist {
    display: flex;
    gap: 0.5rem;
    margin-left: 0.2rem;
  } */
  /* svg {
    font-size: 15px;
  } */

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
    margin-top: 1rem;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
    margin-top: 2rem;
  }

  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
  }

  .pre-footer-child {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .single-partner {
    width: 14rem;
  }

  .amazon {
    width: 10rem;
  }
}

@media (min-width: 0px) and (max-width: 374px) {
  .mobile-cart-btn {
    display: flex;
    flex-direction: column;
  }
  .mobile-auth > button,
  .mobile-toggle-nav > button,
  .mobile-search > button,
  .mobile-cart > button {
    width: 50px;
  }
  /* .home-wrapper {
    margin: 2rem;
  } */
}
