html,
body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Dosis", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  /* width: 100%; */
}
.layout {
  /* height: 100vh; */
  /* width: 100vw; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  /* align-items: center; */
  /* height: 100%;
  min-height: 100%; */
  /* background-color: inherit; */
}

/* .home {
  width: 100%;
  height: 100%;
} */
footer {
  /* margin-top: auto; */
  height: 200px;
  position: relative;
  width: 100%;
}
.footer {
  background-color: #eaedf1;
  /* margin-top: auto; */
  color: #5f5f5f;
  width: 100%;
  /* height: auto; */

  display: flex;
  justify-content: center;
}
main {
  display: block;
  /* background-color: #eaedf1; */
  /* position: relative; */
  /* min-width: 100vw; */
  min-height: 100vh;
}
.footer p {
  font-size: 12px;
}
.first-component {
  width: 100%;
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;

  display: flex;
  justify-content: center;
}

.container {
  margin: 0 6rem 0 6rem;
  max-width: 1440px;
  width: 100%;
}

/* NAVBAR PART */

.navbar-wrapper {
  width: 100%;
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-top: 1px solid #5f5f5f70;
  border-bottom: 1px solid #5f5f5f70;
  position: relative;
}

/* .navbar-logo a {
  min-width: 100%;
  min-height: 100%;
} */

.navbar,
.mobile-navbar {
  min-height: 100px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  /* background-color: #fff; */
  /* padding: 0 0.5rem 0 0.5rem; */
  /* background-color: rgb(238, 238, 238); */
}
.navbar-links {
  width: 100%;
}

.navbar-logo,
.mobile-navbar-logo {
  min-width: 100px;
  width: auto;
  flex: 1;
}
.navbar-products {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 0;
  /* padding-left: 1rem; */
}
.navbar-links ul {
  flex: 1;

  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  list-style-type: none;
  font-size: 24px;
  font-weight: 600;
  color: #0c0c0c;
}
.navbar-links li {
  transition: 200ms ease-out;
  width: fit-content;
}
.navbar-links li:hover {
  color: #4cbb17;
  transition: 200ms ease-out;
}
.navbar-search {
  position: relative;
  width: 100%;
}

.navbar-search > input {
  flex: 1;

  width: 100%;
  height: 2.3rem;
  border: 2px solid #4cbb17;
  border-radius: 25px;
  padding-left: 1rem;
  outline: none;
}

.navbar-search .search-btn {
  position: absolute;
}
/* .shopping-cart-btn {
  display: flex;
  gap: 0.3rem;
} */

.mobile-cart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
}
.cart {
  width: 300px;
  display: flex;
  justify-content: center;
}

.mobile-navbar-logo {
  min-width: 75px;
  width: auto;
}
/* .logo-link-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.7rem;
  min-width: 100px;
}

.logo-link {
  width: 100%;
  min-width: 100%;
} */

/* .navbar-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 8px 30px -6px rgba(0, 0, 0, 0.38);
  width: 100%;
  height: 100%;
  border-bottom: 0.2px solid #5f5f5f70;
  border-top: 0.2px solid #5f5f5f70;
  display: flex;
  justify-content: center;
} */

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
  font-size: 16px;
  width: 100%;
  max-width: 1440px;

  /* font-size: 14px; */
}
.our-story-logo-holder {
  position: relative;
  width: 125px;
  height: 125px;
}
.phone-number {
  color: #0c0c0c;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.5rem;
  /* font-size: 16px; */
}

.cart-component-wrapper {
  position: absolute;
  min-width: 300px;
  width: min-content;
  right: -5px;
  top: 35px;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
  z-index: 9999;
}
.cart-component-header {
  padding: 0.6rem;
  text-align: center;
  /* border-bottom: 1px solid black; */
}
.cart-component-footer {
  padding: 0.6rem;

  text-align: start;
  /* background-color: red; */
}

.cart-component-body {
  padding: 0.6rem;
}
.email {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #0c0c0c;
  /* font-size: 16px; */
}
.left-side {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  /* font-size: 15px; */
}

.right-side {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  /* font-size: 15px; */
}

.toggle {
  width: fit-content;
  margin: 0.6rem;
}

/* .cart-and-wishlist {
  display: flex;
  gap: 1.2rem;
  margin-left: 0.6rem;
}
.cart-and-wishlist > svg {
  cursor: pointer;
} */
/* .navbar-links,
.navbar-search {
  width: 100%;
  display: flex;
  justify-content: center;
} */
/* .navbar-links {
  /* justify-content: center; 
} */
/* .navbar-search {
  align-items: center;
  width: 100%;
  margin: 0.4rem;
  position: relative;
} */

/* .navbar-search > svg {
  margin: 0.4rem;
}
.navbar-search > input {
  background-color: rgb(252, 252, 252);
  border-radius: 25px;

  outline: none;
  border: 2px solid #f89a20;
  width: 100%;
  color: 5f5f5f;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
} */

::placeholder {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .upper-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #5f5f5f;
  /* font-style: italic; */
/* font-weight: 800;
  font-size: 22px; */
/* } */

/* .navbar-links > ul > li {
  cursor: pointer;
  margin: 0.4rem;
  transition: 200ms ease-in-out;
}

.navbar-links > ul > li:hover {
  transition: 200ms ease-in;
  color: #f89a20;
}
.navbar-links > ul {
  list-style: none;
  display: flex;
  /* gap: 2rem; */
/* width: 100%; */
/* justify-content: space-evenly; */
/* align-items: center; */
/* } */

.hidden {
  display: none;
}
/* 
.mobile-search-active {
  display: inline-block;
}

.mobile-search-hidden {
  display: none;
} */
.shop::after,
.information::after,
.location::after {
  content: "|";
  color: #ddd;
  display: inline-block;
  margin-left: 0.7rem;
}
.vl {
  color: #ddd;
  display: inline-block;
}
.shop:hover,
.information:hover,
.location:hover,
.rules:hover {
  color: #4cbb17;
  transition: 200ms ease-in-out;
}
.shop,
.information,
.location,
.rules {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  color: #0c0c0c;
  transition: 200ms ease-in-out;
}
.number-text {
  line-break: anywhere;
}
.store,
.info,
.number {
  color: #ff731d;
  cursor: pointer;
}

.toggle-nav {
  color: #5f5f5f;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
  display: none;
}

/* .navbar-search .search-btn {
  /* background-color: #fff;
  border: 2px solid #f89a20; */
/* position: absolute;
  height: 100%;
  width: 75px;
  right: 0;
  border-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f89a20;
  color: #fff;
  font-size: 21px; */
/* } */

/* .shopping-cart-btn,
.mobile-search-btn,
.nav-btn,
.wishlist-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  transition: 200ms ease-in-out;
  border: 2px solid #f89a20;
}

.shopping-cart .shopping-cart-btn {
  background-color: #fff;
}
.search-btn {
  margin: 0.3rem;
}
.mobile-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
} */

/* .navbar-search .search-btn:hover {
  background-color: #da8921;
}
.shopping-cart-btn:hover,
.mobile-search-btn:hover,
.nav-btn:hover {
  color: #f89a20;
  transition: 200ms ease-in-out;
}

.cart-and-wishlist .mobile-search {
  display: none;
} */

/* .shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
} */

.pre-footer {
  /* background-color: rgb(238, 238, 238); */
  background-color: #fff;

  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 0.2px solid #5f5f5f70;
  /* box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 6px 0px 30px -6px rgba(0, 0, 0, 0.38); */
}
.pre-footer-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* width: 100%; */
  /* margin-top: 0.6rem;
  margin-bottom: 0.6rem; */
}
.footer-info {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* .mobile-search .mobile-search-btn {
  background-color: #fff;
}

.toggle-nav .nav-btn {
  background-color: #fff;
} */

.footer-number,
.footer-sale-email,
.footer-info-email {
  display: flex;
  /* width: 100%; */
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  gap: 0.3rem;
  border: 2px solid #4cbb17;
  color: #0c0c0c;
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in;
}

.footer-number:hover,
.footer-sale-email:hover,
.footer-info-email:hover {
  background-color: #4cbb17;
  color: #fff;
  transition: 200ms ease-in;
}
.small-text-2 {
  margin-top: 0.6rem;
  text-align: center;
  font-style: italic;
  line-height: 18px;
  color: #0c0c0c;
}
.small-text {
  /* max-width: 250px; */
  color: #0c0c0c;
  font-size: 17px;
  /* text-decoration: underline; */
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-top: 0.7rem;
  width: 100%;
}
.footer-logo > h3 {
  margin: 2rem 0 2rem 0;
}
.contact-info-header {
  font-size: 25px;
  /* margin: 2rem 0 2rem 0; */
  color: #0c0c0c;
  text-align: center;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  color: #256d85;
}

.single-partner {
  width: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.amazon {
  width: 16rem;
}

/* .partners {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
/* margin-top: 0.6rem;
}
  margin-bottom: 0.6rem; */

.single-partner-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  /* margin-top: 0.6rem;
  margin-bottom: 0.6rem; */
}
.partners-heading {
  font-size: 25px;
  color: #0c0c0c;
  text-align: center;
}

.footer-information {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contact,
.partners,
.footer-info,
.media-links {
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  justify-content: center;
  text-align: center;
}

.footer-content > h3 {
  text-align: center;
}

.developed .developed-h {
  font-size: 8px;
}
.chakra-modal__header {
  color: #5f5f5f;
  border-bottom: 1px solid #5f5f5f70;
}
.chakra-modal__body {
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.chakra-modal__footer {
  border-top: 1px solid #5f5f5f70;
}
.menu-container {
  height: 100%;
}
.menu-home-link,
.menu-shop-link,
.menu-orders-link,
.menu-about-link,
.menu-account-link,
.menu-rules-link {
  border-bottom: 1px solid #5f5f5f70;
}
.menu-home-link > li:hover,
.menu-shop-link > li:hover,
.menu-orders-link > li:hover,
.menu-about-link > li:hover,
.menu-account-link > li:hover,
.menu-rules-link > li:hover {
  color: #4cbb17;
  cursor: pointer;
}
.menu-home-link > li,
.menu-shop-link > li,
.menu-orders-link > li,
.menu-about-link > li,
.menu-account-link > li,
.menu-rules-link > li {
  padding: 1rem;
}
.menu-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.search-container {
  width: 100%;
  padding: 1rem;
}

.search-container > input {
  background-color: #fff;
  border-radius: 25px;
  outline: none;
  border: 2px solid #4cbb17;
  width: 100%;
  color: 5f5f5f;
  padding-left: 0.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}
.categories-wrapper {
  /* color: #5f5f5f; */
  /* width: fit-content; */
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* border: 2px solid #f89a20; */
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  /* border-radius: 7px; */
  min-width: 300px;
  grid-area: cat;
  /* width: 100%; */
  /* height: 100%; */
}

.categories-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-left: 1px solid #f89a20;
  border-right: 1px solid #f89a20;
  border-bottom: 1px solid #f89a20;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.feature-wrapper {
  width: 100%;

  /* min-height: 100px; */
  /* height: 100%; */
  /* padding-top: 2rem; */
  color: #5f5f5f;
}

.features {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.feature {
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-radius: 10px;
  color: #0c0c0c;
  /* padding: 0.5rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}

.feature-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.6rem;
}
.feature-body {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-product-container,
.second-product-container,
.third-product-container,
.fourth-product-container,
.fifth-product-container {
  width: 100%;
  height: 100px;
  border: 1px solid #f89a20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-screen > h3 {
  color: #4cbb17;
  font-size: 25px;
  font-weight: bolder;
  margin: 0;
}

.article-wrapper {
  /* grid-area: article; */
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  height: 100%;
  /* min-width: 100%; */

  border: 1px solid #f89a20;
}

.carousel {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background: transparent;
  position: relative;
}
.home-wrapper {
  margin: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaedf1;
  padding-bottom: 2rem;
}

.login-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.login-component > form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
}
.login-header,
.register-header {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  text-align: center;
}

.header-image {
  display: flex;
  justify-content: center;
}
.rules-component-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.register-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaedf1;
  padding-bottom: 2rem;
}

.register-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-component > form {
  margin-top: 2rem;
  max-width: 900px;

  /* box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%); */
  padding: 1rem;
  border-radius: 5px;

  width: 100%;
}

.register-grid {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9rem;
}

.register-buttons {
  padding-top: 1.5rem;
  display: flex;
  gap: 1rem;
}
.orders-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-component {
  max-width: 1440px;
  width: 100%;
}
.orders-tabs {
  margin-top: 2rem;
}

.order-submit {
  width: 100%;
}
.order-form > form,
.query-form > form {
  gap: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* grid-template-areas:
        'name detail-desc'
        'email detail-desc'
        'short-desc detail-desc'
        'address detail-desc'
        'number number'
        'button button'; */
}
.instruction-wrapper,
.usage-wrapper,
.our-story-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logout-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-story-body {
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.our-story-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
}
.categories-menu-wrapper {
  position: absolute;
  left: 18.64rem;
  /* border-left: 0.5px solid black; */
  top: 3.5rem;
  z-index: 10;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  /* border-radius: 3px; */
  display: none;
  background-color: #fff;
  /* height: 100%; */
  width: 500px;
  border-top: 2px solid #f89a20;
  border-bottom: 2px solid #f89a20;
  border-right: 2px solid #f89a20;
  height: 25.5rem;
  color: #5f5f5f;
}
.categories-menu {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.single-subcategory > h3 {
  font-size: 21px;
  color: #f89a20;
  font-weight: 500;
  margin-bottom: 0.6rem;
}
.value {
  font-size: 17px;
}
.value:hover {
  text-decoration: underline;
  cursor: pointer;
}
.single-category > li {
  border-bottom: 1px solid #5f5f5f70;
}

.single-subcategory {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.quick-menu-wrapper {
  width: 100%;
  /* height: 100%; */
  color: #5f5f5f;
}

.quick-menu {
  display: flex;
  width: 100%;
  /* height: 100%; */
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.4rem;
  /* align-items: center; */
}
.single-menu:hover {
  transition: 200ms ease-in;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.single-menu {
  transition: 200ms ease-in;
  box-sizing: border-box;
  padding: 0.3rem;
  max-width: 24%;
  width: 100%;
  /* height: 100%; */
  margin: 0.1rem;

  /* height: 25%; */
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-text {
  width: 100%;
  font-size: 25px;
  text-align: center;
}
.single-subcategory > ul {
  list-style-type: none;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.categories-header {
  padding: 0.7rem;
  font-size: 24px;
  background-color: #f89a20;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* .categories-list ul {
  list-style-type: none;
  width: 100%;
}
.popover-wrapper {
  width: 100%;
} */
.spons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  gap: 2rem;
  position: relative;
}
.single-category {
  width: 100%;

  /* font-size: 21px; */
  border-bottom: 1px solid #5f5f5f70;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 200ms ease-in;
}

.single-category:last-child {
  border-bottom: none;
  /* border-radius: 5px; */
}

.single-category:hover {
  background-color: #ddd;
  transition: 200ms ease-in;
}
.link-box {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.sub-categories {
  position: absolute;
  right: -7.5rem;
  z-index: 5;
  background-color: #4cbb17;
  height: 500px;
}

.link-overlay {
  display: flex;
  justify-content: space-between;
}
.action-link {
  padding: 0.7rem;
  border-top: 1px solid #5f5f5f70;
  background-color: #f89a20;
  color: #fff;
  cursor: pointer;
  transition: 200ms ease;
  text-align: center;
  /* border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; */
}
.action-link > a {
  width: 100%;
}
.action-link:hover {
  background-color: tomato;
  transition: 200ms ease;
}

.categories-list {
  position: relative;
  z-index: 5;
}
.categories-list ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.categories-list ul > li {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #5f5f5f;
  position: relative;
}

.categories-list > ul > li > a {
  width: 100%;
  font-size: 25px;
}
.account-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-mobile-sidebar-wrapper {
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  display: none;
  position: absolute;
  width: 100%;
  top: 1rem;
}
.account-layout-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;

  position: relative;
}
.account-showbase-body-avatar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.account-showcase-avatar-holder {
  overflow: hidden;
  border-radius: 100px;
}
.account-showcase-wrapper {
  width: 100%;
  height: 100%;
}

.account-showcase-container {
  width: 100%;
  height: 100%;
}
.account-showcase-header {
  display: flex;
  width: 100%;
}
.account-showcase-header-title {
  width: 100%;
}
.account-showcase-header-title > div {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.account-showcase-body {
  padding-top: 2rem;
  display: flex;
}

.account-showcase-body-info {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  align-items: flex-end;
  text-align: start;
}
.account-showcase-body-image {
  width: 50%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.account-sidebar-wrapper {
  max-width: 200px;
  width: 100%;
  height: 100%;
}
.account-mobile-sidebar-information {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.account-sidebar-link:hover {
  text-decoration: underline;
}
.account-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account-showcase-body-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logout-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-component {
  max-width: 1440px;
  width: 100%;
}
.account-body {
  margin-top: 2rem;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  gap: 1rem;
}

.account-body-no-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.single-account-item {
  width: 100%;
  /*height: 250px; */
}
.account-body-info {
  padding: 0.6rem;

  flex: 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  /* flex-wrap: wrap; */
}

.account-body-features > button {
  width: 100%;
}
.account-body-features {
  background-color: #5f5f5f;
  flex: 1;
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  padding: 0.6rem;
  align-items: center;
}

.shop-layout-wrapper {
  width: 1440px;
  height: 100%;
  display: flex;
  gap: 2rem;

  position: relative;
}

.shop-layout-filter-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.shop-sidebar-wrapper {
  max-width: 260px;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.shop-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.shop-single-menu-header {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #eaedf1;
  border-radius: 6rem;
  display: flex;
  justify-content: flex-start;
  /* border: 0.5px solid #5f5f5f; */
  /* box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%); */
}
.shop-single-menu-body {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shop-single-menu-filter {
  padding-left: 0.6rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}
.shop-single-menu-filter-checkbox {
  transition: 200ms ease-out;
}
.shop-single-menu-filter-checkbox:hover {
  transition: 200ms ease-in;
  background-color: #eaedf1;
}

.shop-single-menu-filter-checkbox-active {
  background-color: #4cbb17;
}

.checkbox {
  border: 2px solid #eaedf1;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  align-items: center;
}
.shop-menu-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: #5f5f5f;
}

.shop-menu-link:hover {
  text-decoration: underline;
}
.price-range {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shop-category-header {
  padding: 1rem;
  /* background-color: #eaedf1; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.shop-category-header-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  /* width: 100%; */
}
.shop-category-header-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 300px; */
  /* width: 100%; */
}
.shop-category-header-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* width: 100%; */
}
.shop-category-header-count-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  /* width: 100%; */
}

.shop-category-header-view-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.shop-category-header-view-option-active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #eaedf1;
  border-radius: 15px;
}
.shop-category-body {
  width: 100%;
  display: flex;
}
.shop-category-item-wrapper {
  padding: 0.5rem;
  /* background-color: beige; */
  flex: 0 0 24%;
  transition: 200ms ease-in;

  border-radius: 10px;
}
.shop-category-item-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
  scale: 1.01;
  transition: 200ms ease-in;
}
.shop-category-item-image {
  width: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-component-wrapper {
  width: 100%;
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.shop-category-wrapper {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 0.5rem;
}

.shop-component-container,
.shop-category-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.3rem 0 0.3rem;
  column-gap: 0.2rem;
  row-gap: 2rem;
}
.shop-category-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  /* height: 350px; */
  justify-content: space-between;
}
.shop-category-item-product-cards {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.shop-category-item-product-waranty {
  width: 100%;
  background-color: #4cbb17;
  text-align: center;

  color: #fff;
}
.shop-category-item-product-sale {
  width: 100%;
  background-color: #007fff;
  text-align: center;

  color: #fff;
}
.shop-category-item-options {
  width: 100%;
  border-radius: 5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
.shop-category-item-cart {
  width: 100%;
}
.shop-category-item-options-counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 5rem;
  box-shadow: inset 2px 2px 5px 1px rgb(0 6 22 / 10%);
}
.shop-category-item-options-counter-input {
  width: 2rem;
}

.shop-category-item-options-counter-input > input {
  width: 100%;
  text-align: center;
  outline: none;
  border: none;
}

.shop-category-item-product-info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: 100%;
}

.shop-category-item-product-info-title {
  /* max-width: 250px; */
  height: 5rem;
  overflow: hidden;
}
.shop-category-item-product-info-price {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 0.3rem;
  gap: 0.6rem;
}

.shop-mobile-sidebar-wrapper {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.shop-active-filters-wrapper {
  width: 100%;
}
.shop-active-filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.shop-single-active-filter {
  display: flex;
  background-color: #eaedf1;
  gap: 1rem;
  padding: 0.2rem 1.3rem;
  height: 100%;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
}
.shop-single-active-filter-values {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.shop-single-active-filter-value {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: 200ms;
}
.shop-single-active-filter-value:hover {
  transition: 200ms;
  color: #4cbb17;
}
.shop-pagination-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}
.pagination > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-item {
  background-color: #eaedf1;
  padding: 1rem;
  border-radius: 5rem;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #0c0c0c;
  cursor: pointer;
  transition: 200ms ease-in;
}
.active {
  color: #fff;
  background-color: #4cbb17;
  transition: 200ms ease-in;
}
.page-item:hover {
  color: #fff;
  background-color: #4cbb17;
  transition: 200ms ease-in;
}
/* .page-link {
  color: #0c0c0c;
} */
.page-button {
  padding: 0.3rem 0.7rem;
  color: #0c0c0c;
  font-weight: bold;
  background-color: #eaedf1;
  border-radius: 5rem;
  transition: 200ms ease-in;
  cursor: pointer;
}

.page-button:hover {
  color: #fff;
  background-color: #4cbb17;
  transition: 200ms ease-in;
}

.forgot-pw-wrapper,
.new-password-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-pw-image,
.new-password-image {
  display: flex;
  justify-content: center;
}

.forgot-pw-header,
.new-password-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  position: relative;
  text-align: center;
}
.forgot-pw-component,
.new-password-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.forgot-pw-component > form,
.new-password-component > form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
}
.forgot-pw-body,
.new-password-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.account-new-password-wrapper {
  width: 100%;
  /* padding: 1rem; */
  /* background-color: red; */
}
.account-new-password-title {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5rem;
}
.account-new-password-body {
  margin-top: 2rem;
}
.account-new-password-body > form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-button {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  gap: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms;
  position: relative;
}
.cart-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}
.cart-button-text:hover {
  color: #4cbb17;
  transition: 200ms ease;
}
.item-number {
  position: absolute;
  left: -10px;
  top: -5px;
  padding: 0.2rem;
  background-color: #4cbb17;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10rem;
}
.product-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.product-info-component {
  max-width: 1440px;
  width: 100%;
  padding: 1rem;
  /* background-color: red; */
}
.product-info-component-main-part {
  display: flex;
}
.product-info-component-main-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-info-component-main-image-holder {
  max-width: 400px;
  max-height: 400px;
}
.product-info-component-main-information {
  width: 100%;
}

.single-info {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
}
.product-info-component-main-information-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.product-info-component-main-information-manufacturer {
  padding: 1rem 0;
}

.product-info-component-main-information-price {
  padding: 1.2rem 0;
  display: flex;
  gap: 0.3rem;
}
.product-info-component-main-information-buttons {
  gap: 1rem;
  display: flex;
}
.product-info-options-counter {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 5rem;
  box-shadow: inset 2px 2px 5px 1px rgb(0 6 22 / 10%);
}
.product-info-component-specification {
  padding-top: 3rem;
}
.product-info-component-specification-table-wrapper {
  width: 100%;
}
.table {
  width: 100%;
}
.tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.trow {
  color: #0c0c0c;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #5f5f5f;
  justify-content: center;
  align-items: center;

  /* padding: 1rem;  */
}
.left-table-side {
  font-weight: bold;
  border-right: 1px solid #aaaaaa;
  max-width: 15rem;
  width: 100%;
  padding: 0.5rem;
  /* background-color: #4cbb17; */
}
.right-table-side {
  width: 100%;
  /* text-align: left; */
  display: flex;
  padding-left: 2rem;

  justify-content: flex-start;
  /* background-color: red; */
}
.account-showcase-header-edit-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
  position: relative;
}
.btn {
  /* border: 1px solid black; */
  background-color: #fff;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  /* background-color: red; */
  border-radius: 1rem;
  transition: 200ms;
  position: relative;
}

.edit-acc-btn:hover {
  color: #fff;
}
.edit-acc-btn:active {
  transform: scale(0.9);
  transition: 200ms;
}
.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  position: absolute;
  background: #4cbb17;
  border-radius: 1rem;

  z-index: 1;
}

.edit-acc-btn::before {
  left: 0%;
  border-radius: 1rem;
  transition: 200ms;
}
.edit-acc-btn:hover::before {
  width: 100%;
  border-radius: 1rem;
}

.new-category-items {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 1rem;
}

.random-products-wrapper {
  width: 100%;
  /* background-color: black; */
}

.random-products-component {
  /* background-color: rebeccapurple; */
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
}

.random-products-holder {
  display: flex;
  width: 100%;
  gap: 0.4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.random-products-holder > .shop-category-item-wrapper {
  width: 100%;
  background-color: #fff;
  flex: 0 0;
}
.new-category-items > .shop-category-item-wrapper {
  flex: 0 0;
}

.menu-img-container {
  position: relative;
  height: 115px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.usage-header,
.instruction-header {
  padding-bottom: 2rem;
}
.instruction-body {
  padding-bottom: 2rem;
}
.usage-body,
.instruction-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.single-instruction-paragraph,
.single-usage-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single-instruction-paragraph > ul,
.single-usage-paragraph > ul {
  padding: 0 3rem;
}

.motion-div {
  width: 100%;
}

.empty-sale-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
  opacity: 0.3;
}
.empty-sale-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-wrapper {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
}

.admin-component {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 2rem;
}
.create-product-wrapper,
.delete-product-wrapper,
.update-product-wrapper {
  width: 100%;
  height: 100%;
}
.create-product-content,
.delete-product-content,
.update-product-content {
  display: flex;
  flex-direction: column;
}
.create-product-content-sidebar,
.delete-product-content-sidebar,
.update-product-content-sidebar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 1rem;
}
.create-product-content-sidebar-header,
.delete-product-content-sidebar-header,
.update-product-content-sidebar-header {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: center;
  gap: 0.6rem;
  color: #4cbb17;
}

.create-product-content-sidebar-category,
.delete-product-content-sidebar-category,
.update-product-content-sidebar-category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* width: 100%; */
}
.create-product-content-body,
.update-product-content-body {
  /* background-color: beige; */
  width: 100%;
}
.create-product-properties > form,
.update-product-data > form,
.delete-product-data > form {
  padding: 0.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.create-product-properties > form > input {
  /* width: 100px; */
  border-radius: 10rem;
  background-color: #eaedf1;
}

.product-item {
  display: flex;
  /* border: 1px solid #4cbb17; */
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.4rem;
  transition: 200ms ease;
  transform: scale(1);
  gap: 0.4rem;
}
.product-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);

  transition: 200ms ease;

  cursor: pointer;
}

.product-item-info {
  color: #0c0c0c;
}
.product-item-id {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-weight: bold;
  color: #4cbb17;
}
/*
.shop-component-wrapper {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
} */
/* 
.shop-component {
  max-width: 1440px;
  width: 100%;
  background-color: beige;
} */
.homepage,
.rules-page,
.our-story-page,
.account-info-page,
.account-orders-page,
.orders-page,
.login-page,
.shop-page,
.logout-page,
.category-page,
.forgot-pw-page,
.new-pw-page,
.change-pw-page,
.product-info-page,
.register-page,
.admin-page {
  background-color: #eaedf1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.shop-page,
.category-page,
.product-info-page,
.our-story-page,
.rules-page {
  background-color: #fff;
  /* height: 100vh; */
  /* width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem; */
}
.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.laptop {
  display: none;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .right-side {
    font-size: 15px;
  }
  .left-side {
    font-size: 15px;
  }

  .home-wrapper {
    margin: 2rem;
  }
}
/*Laptops/Monitors in range of 900px - 1200px */
@media (min-width: 1024px) and (max-width: 2000px) {
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }

  .account-showcase-body {
    padding: 1rem;
  }
  .home-wrapper {
    margin: 2rem;
  }

  .footer-information .footer-info {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .item-number {
    top: 2px;
    left: -8px;
  }
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }

  .account-showcase-body {
    padding: 1rem;
  }
  .single-menu {
    max-width: 23.5%;
    width: 100%;
  }

  .navbar-search {
    display: none;
  }
  .cart {
    gap: 1.2rem;
  }
  .laptop {
    display: flex;
  }

  .navbar-links ul {
    font-size: 18px;
  }

  .navbar-search input {
    height: 1.5rem;
  }

  .search-btn {
    height: 1.5rem;
  }

  .info-line {
    display: none;
  }

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
  }
  .small-text {
    font-size: 16px;
  }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
  }

  .single-partner {
    width: 18rem;
  }

  .amazon {
    width: 14rem;
  }
  .home-wrapper {
    margin: 2rem;
  }
}

/*Laptops/Phones/Tables in range of 720px to 900px*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .item-number {
    top: 2px;
    left: -8px;
  }
  .account-sidebar-wrapper {
    padding-left: 1rem;
  }
  .account-showcase-body {
    padding: 1rem;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .quick-menu {
    display: flex;

    max-width: 100%;
  }

  .arrow {
    display: none;
  }
  .laptop {
    display: flex;
  }
  .instruction-body ul,
  .container {
    margin: 0 2rem 0 2rem;
  }

  .navbar-search {
    display: none;
  }

  .navbar-links ul {
    font-size: 16px;
  }
  .cart {
    gap: 1rem;
  }

  .info-line {
    display: none;
  }

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
  }
  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem;
  }
  .single-partner {
    width: 16rem;
  }

  .categories-wrapper {
    width: 100%;
  }
  .amazon {
    width: 12rem;
  }

  .article-wrapper {
    display: flex;
  }
  .categories-menu-wrapper {
    display: none;
  }

  .spons-container {
    flex-direction: column;
  }
  .home-wrapper {
    margin: 2rem;
  }
}
/*Bigger phone and tablet/smaller laptop screens*/
@media (min-width: 500px) and (max-width: 768px) {
  .random-products-holder {
    justify-content: space-evenly;
  }
  .random-products-holder > .shop-category-item-wrapper {
    flex: 0 0 45%;
  }
  .item-number {
    top: 2px;
    left: -8px;
  }
  .product-info-component-main-part {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .shop-mobile-sidebar-wrapper {
    display: block;
  }
  .shop-category-item-wrapper {
    flex: 0 0 50%;
  }

  .shop-category-header-count {
    display: none;
  }

  .shop-category-header-count-view {
    display: none;
  }
  .shop-component-container,
  .shop-category-container {
    column-gap: 0;
  }
  .shop-sidebar-wrapper {
    display: none;
  }
  .account-showcase-body {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .account-showcase-wrapper {
    padding: 1rem;
  }
  .account-layout-wrapper {
    padding-top: 4rem;
  }
  .account-showcase-body-image {
    width: 100%;
  }
  .account-showcase-body-info {
    width: 100%;
  }
  .account-sidebar-wrapper {
    display: none;
  }

  .account-mobile-sidebar-wrapper {
    display: block;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .quick-menu {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .single-menu {
    max-width: 100%;
  }
  .register-submit {
    width: 100%;
  }
  .register-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account-body-info {
    display: flex;
    flex-direction: column;
  }
  .account-body {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }

  .instruction-body ul,
  .container {
    margin: 0 0.3rem 0 0.3rem;
  }
  .carousel {
    min-height: 300px;
  }

  .mobile {
    display: flex;
    overflow-x: none;
  }
  .desktop {
    display: none;
  }

  .spons-container {
    flex-direction: column;
  }

  .categories-wrapper {
    min-width: 100%;
  }
  .info-line {
    display: none;
  }

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
    margin-top: 1rem;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
    margin-top: 1rem;
  }
  .footer-address,
  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
  }

  .pre-footer-child {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .single-partner {
    width: 16rem;
  }

  .amazon {
    width: 12rem;
  }
  .home-wrapper {
    margin: 2rem;
  }
}
/*small screens*/
@media (min-width: 0px) and (max-width: 499px) {
  .random-products-holder {
    justify-content: center;
  }
  .random-products-holder > .shop-category-item-wrapper {
    flex: 0 0 95%;
  }
  .cart-button-text {
    display: flex;
    gap: 0.1rem;
  }
  .item-number {
    top: 2px;
    left: -8px;
  }
  .product-info-component-main-part {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .shop-sidebar-wrapper {
    display: none;
  }
  .shop-category-item-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .shop-mobile-sidebar-wrapper {
    display: block;
  }
  .shop-category-item-wrapper {
    flex: 0 0 100%;
  }

  .shop-category-header-sort {
    justify-content: flex-start;
  }

  .shop-category-header-count-view {
    display: none;
  }
  .shop-component-container,
  .shop-category-container {
    justify-content: center;
  }
  .shop-category-header-count {
    display: none;
  }
  .account-layout-wrapper {
    padding-top: 4rem;
  }
  .account-showcase-header-title > div {
    align-items: flex-start;
  }

  .account-showcase-body {
    flex-direction: column;
    padding-right: 0.5rem;
    gap: 2rem;
  }
  .account-showcase-body-info {
    display: flex;
    flex-direction: column;
  }

  .account-showcase-wrapper {
    padding: 1rem;
  }
  .account-sidebar-wrapper {
    display: none;
  }

  .account-showcase-body-image {
    width: 100%;
  }
  .account-mobile-sidebar-wrapper {
    display: block;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .home-wrapper {
    margin: 2rem;
  }

  .quick-menu {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .single-menu {
    max-width: 100%;
  }
  .register-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register-submit {
    width: 100%;
  }
  .account-body-info {
    display: flex;
    flex-direction: column;
  }

  .account-body {
    flex-direction: column;
  }

  .mobile-cart {
    width: 100%;
    display: flex;

    justify-content: flex-end;
    gap: 0.4rem;
  }

  .container {
    margin: 0.3rem;
  }

  .mobile {
    display: flex;
    overflow-x: none;
  }
  .desktop {
    display: none;
  }

  .spons-container {
    flex-direction: column;
  }
  .categories-wrapper {
    min-width: 100%;
  }

  .info-line {
    display: none;
  }

  .contact {
    padding: 0.2rem;
  }
  .footer-logo {
    font-size: 20px;
  }

  .contact-info-header {
    font-size: 20px;
    margin-top: 1rem;
  }
  .small-text {
    font-size: 16px;
  }

  .footer-info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .partners-heading {
    font-size: 20px;
    margin-top: 2rem;
  }

  .footer-number,
  .footer-sale-email,
  .footer-info-email {
    width: 100%;
  }

  .pre-footer-child {
    flex-direction: column;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .single-partner {
    width: 14rem;
  }

  .amazon {
    width: 10rem;
  }
}

@media (min-width: 0px) and (max-width: 374px) {
  .mobile-auth > button,
  .mobile-toggle-nav > button,
  .mobile-search > button,
  .mobile-cart > button {
    /* width: 50px; */
  }
  /* .home-wrapper {
    margin: 2rem;
  } */
}
